.Div {
  border-radius: 45px;
  border: 1px solid gainsboro;
  background-color: white;
  width: 240px;
  padding: 10px 50px;
  align-items: center;
  display: grid;
  grid-template-columns: 230px 20px;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
  text-align: center;
}
